#main-container-2 {
    width: 1328px;
    height: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    justify-content: space-between;
    margin-top: 160px;
}

.mobile-main-container-2 {
    display: none;
}

.intro-text-wrapper {
        width: 640px;
        height: 350px;
        justify-content: center;
        align-items: center;
        display: flex;
        align-self: center;
        flex-direction: column;
        margin-bottom: 20px;
}

.intro-2 {
    font-size: 49.8px;
    color: var(--brand-primary-dark);
}

.intro-2-text {
    font-size: 18px;
    color: var(--brand-primary-color);
    line-height: 28px;
    text-align: center;
}

.sub-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1328px;
    height: 899px;
}

.inner-sub-container-1 {
    display: flex;
    gap: 24px;
}

.sub-container-content-upper {
    width: 642.5px;
    height: 460px;
    background-color: var(--brand-secondary-color);
    border-radius: 16px;
    padding-top: 28px;
    padding-bottom: 28px;
    padding-right: 32px;
    padding-left: 32px;
}

.sub-container-content-upper:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    transform: scale(1.02);
}

.sub-container-content-upper img {
    width: 355px;
    height: 241px;
    display: flex;
    justify-self: center;
    margin-top: 30px;
}

.about-upper-title {
    font-size: 28px;
    color: var(--brand-primary-dark);
    font-weight: 500;
    letter-spacing: 0.56px;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 0;
}

.about-upper {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--brand-primary-dark);
    margin-top: 0;
}

.inner-sub-container-2 {
    display: flex;
    gap: 22px;
    margin-top: 20px;
}

.sub-container-content-lower{
    width: 422px;
    height: 415px;
    background-color: var(--brand-secondary-color);
    border-radius: 16px;
    padding: 20px 20px;
}

.sub-container-content-lower:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s ease;
    transform: scale(1.02);
}

.sub-container-content-lower img {
    width: 355px;
    height: 241px;
    display: flex;
    justify-self: center;
}

.about-lower-title {
    color: var(--brand-primary-dark);
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0.56px;
    margin-top: 60px;
    margin-bottom: 0;
}

.about-lower {
    color: var(--brand-primary-dark);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 0;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
        #main-container-2 {
            height: 800px;
            margin-top: 40px;
        }
    
        .intro-text-wrapper {
            margin-bottom: 10px;
        }
    
        .intro-2 {
            font-size: 26.8px;
            margin-bottom: 5px;
        }
    
        .intro-2-text {
            font-size: 10px;
            line-height: 18px;
            max-width: 350px;
        }
    
        .sub-container-2 {
            max-width: 900px;
            height: 400px;
            margin-top: -50px;
            justify-self: center;
        }
    
        .inner-sub-container-1 {
            display: flex;
            gap: 14px;
        }
    
        .sub-container-content-upper {
            width: 442.5px;
            height: 260px;
            border-radius: 10px;
            padding-top: 28px;
            padding-bottom: 28px;
            padding-right: 32px;
            padding-left: 32px;
        }
    
        .sub-container-content-upper img {
            width: 245px;
            height: 141px;
            margin-top: 8px;
        }
    
        .about-upper-title {
            font-size: 18px;
            line-height: 16px;
            margin-top: 20px;
        }
    
        .about-upper {
            font-size: 11px;
            line-height: 14px;
            max-width: 280px;
            margin-top: 5px;
        }
    
        .inner-sub-container-2 {
            gap: 12px;
            margin-top: 10px;
        }
    
        .sub-container-content-lower {
            width: 362px;
            height: 215px;
            border-radius: 10px;
            padding: 10px 10px;
        }
    
        .sub-container-content-lower img {
            width: 165px;
            height: 145px;
        }
    
        .about-lower-title {
            font-size: 17px;
            line-height: 16px;
            margin-top: 13px;
        }
    
        .about-lower {
            font-size: 10px;
            line-height: 14px;
            margin-top: 3px;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #main-container-2 {
        display: none;
    }

    .mobile-main-container-2 {
        display: block;
        max-width: 100%;
        height: 360px;
        margin-top: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-intro-2 {
        width: 300px;
        justify-items: center;
        justify-self: center;
    }

    .mobile-intro-title-2 {
        font-size: 16px;
        font-weight: 600;
        color: var(--brand-primary-dark);
        margin-bottom: 10px;
    }

    .mobile-intro-text-2 {
        font-size: 8px;
        color: var(--brand-primary-dark);
        margin-top: 0;
    }

    .mobile-main-sub-container-2 {
        width: 345px;
        justify-self: center;
        margin-top: 20px;
    }

    .mobile-main-content-2 {
        display: flex;
        gap: 15px;
        align-items: center;
        background-color: #0054271a;
        height: 50px;
        border-radius: 10px;
        margin-bottom: 10px;
        padding-left: 10px;
    }

    .mobile-main-content-2 img {
        width: 32px;
        height: 32px;
        border-radius: 6px;
    }

    .mobile-main-content-text {
        align-items: center;
    }

    .mobile-main-content-text-1 {
        font-size: 9px;
        color: var(--brand-primary-dark);
        font-weight: bold;
        margin-bottom: 0;
    }

    .mobile-main-content-text-2 {
        font-size: 7.5px;
        color: var(--brand-primary-dark);
        margin-top: 5px;
    }
}
