#main-container-1 {
    width: 1328px;
    height: 866px;
    background-color: var(--brand-secondary-color);
    border-radius: 32px;
    margin-top: 80px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.intro-1-wrapper {
    width: 500px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 80px;    
}

.intro-1 {
    font-size: 49.8px;
    color: var(--brand-primary-dark);
}

.intro-1 span {
    color: var(--brand-primary-color);
}

.container {
    display: flex;
    justify-content: center;
}

.container img {
    width: 600px;
    height: 645px;
    margin-right: 15px;
}

.sub-container-1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.text-container-1 {
    background-color: #1D1F14;
    width: 626px;
    height: 294px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 56px;
    padding-bottom: 74px;
    border-radius: 16px;
}

.text-1 {
    color: var(--white-text-color);
    font-size: 18px;
    line-height: 24px;
}

.text-container-2 {
    background-color: #FF0012;
    font-size: 18px;
    width: 626px;
    height: 294px;
    border-radius: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 52px;
    padding-bottom: 97px;
}

.text-2 {
    color: var(--white-text-color);
}

.mobile-main-container-1 {
    width: 100%;
    height: 400px;
    display: none;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
        #main-container-1 {
            height: 466px;
            border-radius: 20px;
            margin-top: 80px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }
    
        .intro-1 {
            font-size: 26.8px;
            margin-bottom: 0;
        }

        .container {
            margin-top: -40px;
        }
    
        .container img {
            width: 300px;
            height: 325px;
            margin-right: 9px;
        }
    
        .sub-container-1 {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    
        .text-container-1 {
            width: 326px;
            height: 140px;
            padding-right: 16px;
            padding-left: 16px;
            padding-top: 28px;
            padding-bottom: 37px;
            border-radius: 10px;
        }
    
        .text-1 {
            font-size: 10px;
            line-height: 14px;
        }
    
        .text-container-2 {
            font-size: 10px;
            width: 326px;
            height: 140px;
            border-radius: 10px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 26px;
            padding-bottom: 48px;
        }
}



/* MOBILE VIEW */
@media (max-width: 720px) {
    #main-container-1 {
        display: none;
    }

    .mobile-main-container-1 {
        display: block;
        max-width: 100%;
        height: 340px;
        background-color: var(--brand-primary-color);
        margin-top: 110px;
        justify-items: center;
        padding-top: 9px;
    }

    .mobile-intro-1-wrapper {
        width: 200px;
        text-align: center;
    }

    .mobile-intro-1-wrapper p {
        font-size: 16px;
        font-weight: 600;
        color: var(--white-text-color);
    }

    .mobile-sub-container-1 {
        width: 345px;
        height: 250px;
        background-color: #ffffff;
        border-radius: 14px;
        padding: 10px 10px;
        margin-top: 25px;
        
    }

    .mobile-sub-container-1 img {
        width: 325px;
        height: 100px;
        border-radius: 6px;
        display: flex;
        justify-self: center;
    }

    .mobile-brand-text-1 {
        font-size: 7px;
        color: #677E73;
        line-height: 14px;
        margin-bottom: 10px;
    }

    .mobile-brand-text-2 {
        font-size: 7px;
        color: #677E73;
        line-height: 14px;
        margin-bottom: 12px;
    }

    .mobile-main-1-text {
        width: 325px;
        height: 40px;
        background-color: #E7F9ED;
        align-content: center;
        padding: 0 12px;
        border-radius: 7px;
        border-left: 4px solid var(--brand-primary-color);
    }

    .mobile-main-1-text p {
        font-size: 7px;
        color: var(--brand-primary-color);
        line-height: 12px;
    }
}
