#main-container-4 {
    width: 1328px;
    height: 750px;
    border-radius: 32px;
    padding: 40px 32px;
    background-color: #FAFBEE;
    margin-top: 80px;
}

.mobile-main-container-4 {
    display: none;
}

.executed-intro {
    width: 700px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.executed-intro p {
    font-size: 48px;
    line-height: 56px;
    color: var(--brand-primary-dark);
    letter-spacing: 1.92px;
}

.sub-container-4 {
    display: flex;
    gap: 15px;
    overflow-x: auto;
}

.sub-container-4::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    gap: 15px;
    animation: spin 45s infinite linear;
}

.executed-content {
    width: 369px;
    height: 550px;
}

.execution-image {
    width: 369px;
    height: 269px;
    border-radius: 16px;
}

.execution-name {
    width: 250px;
    height: 47px;
    background-color: #EEF1C5;
    padding: 14px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.execution-name p {
    font-size: 16px;
    letter-spacing: 0;
    color: var(--black-text-color);
    font-weight: 600;
}

.execution-location {
    width: 350px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
}

.location-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.execution-location p {
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 0;
    color: #899921;
}

.execution-details p {
    font-size: 12.5px;
    line-height: 16.8px;
    letter-spacing: 0;
    color: var(--black-text-color);
}

.execution-details ul li {
    font-size: 12.5px;
    line-height: 16.8px;
    letter-spacing: 0;
    color: var(--black-text-color);
}

.outcome {
    font-weight: 600;
    margin-bottom: 2px;
}

.outcome-details {
    margin-top: 0;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/* TABLET VIEW */
@media (max-width: 1040px) {
        #main-container-4 {
            height: 600px;
            border-radius: 16px;
            padding: 20px 17px;
            margin-top: 70px;
            max-width: 900px;
        }
    
        .executed-intro {
            margin-top: 15px;
            margin-bottom: 25px;
        }
    
        .executed-intro p {
            font-size: 27px;
            line-height: 28px;
        }
    
        .executed-content {
            width: 230px;
            height: 350px;
        }
    
        .execution-image {
            width: 230px;
            height: 175px;
            border-radius: 10px;
        }
    
        .execution-name {
            width: 220px;
            height: 30px;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
        }
    
        .execution-name p {
            font-size: 14px;
        }
    
        .execution-location {
            width: 250px;
            margin-top: 10px;
        }
    
        .execution-details p {
            font-size: 11.5px;
            line-height: 15.8px;
        }
    
        .execution-details ul li {
            font-size: 11.5px;
            line-height: 15.8px;
        }
    
}


/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #main-container-4 {
        display: none;
    }

    .mobile-main-container-4 {
        display: block;
        background-color: #FAFBEE;
        max-width: 100%;
        height: 400px;
        margin-top: 30px;
        padding: 15px;
    }

    .mobile-executed-intro {
        width: 200px;
        justify-items: center;
        justify-self: center;
    }

    .mobile-executed-intro p {
        font-size: 16px;
        font-weight: 600;
        color: var(--brand-primary-dark);
        margin-bottom: 10px;
    }

    .mobile-sub-container-4 {
        width: 345px;
        height: 300px;
        justify-self: center;
    }

    .mobile-slider {
        overflow: hidden;
        width: 100%;
    }

    .mobile-executed-contents {
        width: max-content;
        height: 85px;
        border-radius: 9px;
        display: flex;
        margin-top: 10px;
    }

    .mobile-executed-sub-content {
        min-width: 345px;
        height: 85px;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../assets/mobile-exe-1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 9px;
        position: relative;
    }

    /* TO DISPLAY SECOND IMAGE */
    .mobile-executed-sub-content-2 {
        min-width: 345px;
        height: 85px;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../assets/mobile-exe-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 9px;
        position: relative;
    }

    /* TO DISPLAY THIRH IMAGE */
    .mobile-executed-sub-content-3 {
        min-width: 345px;
        height: 85px;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url("../../assets/mobile-exe-3.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 9px;
        position: relative;
    }

    .mobile-exe-text {
        position: absolute;
        padding-left: 10px;
        margin-top: 40px;
    }

    .mobile-exe-text-1 {
        color: var(--white-text-color);
        font-size: 8px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .mobile-exe-text-2 {
        color: #ffffffb0;
        font-size: 7px;
        margin-top: 5px;
    }
}