#main-container-5 {
    width: 100%;
    height: 100px;
    background-color: var(--brand-primary-color);
    margin-top: 250px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container-5 p {
    font-size: 20px;
    line-height: 24.8px;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--white-text-color);
}

#main-container-5 img {
    width: 32px;
    height: 32px;
    margin-left: 30px;
    margin-right: 30px;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
        #main-container-5 {
            max-width: 100%;
            height: 60px;
            margin-top: 150px;
            margin-bottom: 100px;
        }
    
        #main-container-5 p {
            font-size: 14px;
            line-height: 14.8px;
            font-weight: 500;
        }
    
        #main-container-5 img {
            width: 17px;
            height: 17px;
            margin-left: 16px;
            margin-right: 16px;
        }
}

/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #main-container-5 {
        max-width: 100%;
        height: 40px;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 30px;
        padding-right: 30px;
    }

    #main-container-5 p {
        font-size: 8px;
        line-height: 10.8px;
        font-weight: 500;
    }

    #main-container-5 img {
        width: 12px;
        height: 12px;
        margin-left: 5px;
        margin-right: 5px;
    }
}