#main-container-5 {
    width: 1328px;
    height: 515px;
    background-color: var(--brand-primary-color);
    padding-top: 30px;
    border-radius: 32px;
    margin-top: 120px;
    margin-bottom: 120px;
}

.quality-intro {
    justify-items: center;
}

.quality-intro-text-1 {
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.98px;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.quality-intro-text-2 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    color: var(--white-text-color);
    margin-top: 0;
}

.quality-contents {
    width: 1264px;
    height: 233px;
    justify-self: center;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.quality-content-box {
    width: 380px;
    height: 233px;
    border-radius: 16px;
    border: #ffffff58;
    background-color: #ffffff1c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.quality-content-box img {
    width: 55px;
    height: 55px;
}

.quality-amount {
    font-size: 42px;
    color: var(--white-text-color);
    margin-top: 3px;
    margin-bottom: 3px;
    font-family: Arial;
}

.quality-text-1 {
    font-size: 18px;
    line-height: 28px;
    color: var(--white-text-color);
    text-align: center;
}

.quality-text-2 {
    font-size: 14px;
    list-style: 20px;
    color: #ffffffa8;
}

#ajust-quality-text {
    margin-bottom: 4px;
    margin-top: 0;
}

