#main-container-3 {
    background-color: var(--brand-secondary-color);
    width: 1328px;
    height: 700px;
    border-radius: 24px;
    padding: 45px 30px;
    margin-top: 80px;
}

.mobile-main-container-3 {
    display: none;
}

.solution-intro {
    width: 444px;
    height: 95px;
    padding-top: 19px;
    padding-bottom: 20px;
    display: flex;
    justify-self: center;
    margin-bottom: 45px;
    align-items: center;
    justify-content: center;
}

.solution-intro p {
    color: var(--brand-primary-dark);
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 1.92px;
}

.sub-container-3 {
    display: flex;
    justify-content: space-between;
}

.solutions-content {
    background-color: #ffffff;
    width: 304px;
    height: 210px;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.solutions-content-title {
    color: var(--black-text-color);
    max-width: 300px;
    font-size: 18px;
    line-height: 24.8px;
    letter-spacing: 0;
    margin-bottom: 0px;    
}

.solutions-content ul {
        min-width: 272.8px;
        min-height: 68px;
        padding-left: 20px;
}

.solutions-content ul li {
    color: var(--black-text-color);
    font-size: 12.5px;
    line-height: 16.8px;
    letter-spacing: 0;
}


/* TABLET VIEW */
@media (max-width: 1040px){
        #main-container-3 {
            height: 700px;
            border-radius: 14px;
            padding: 25px 17px;
            margin-top: 100px;
            max-width: 900px;
        }
    
        .solution-intro {
            padding-top: 0;
            padding-bottom: 20px;
            margin-bottom: 35px;
        }
    
        .solution-intro p {
            font-size: 26px;
            line-height: 28px;
        }
    
        .solutions-content {
            background-color: #ffffff;
            width: 205px;
            height: 240px;
            padding: 12px;
            border-radius: 10px;
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .solutions-content img{
            width: 35px;
            height: 35px;
        }
    
        .solutions-content-title {
            font-size: 16px;
            line-height: 18.8px;
        }
    
        .solutions-content ul {
            min-width: 160.8px;
            min-height: 68px;
            padding-left: 7px;
        }
    
        .solutions-content ul li {
            font-size: 10.5px;
            line-height: 10.8px;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #main-container-3 {
        display: none;
    }

    .mobile-main-container-3 {
        display: block;
        max-width: 100%;
        height: 300px;
        padding-top: 15px;
        background-color: #F8FBF9;
        margin-top: 30px;
    }

    .mobile-solution-intro {
        width: 200px;
        justify-items: center;
        justify-self: center;
    }

    .mobile-solution-intro p {
        font-size: 16px;
        font-weight: 600;
        color: var(--brand-primary-dark);
        margin-bottom: 10px;
    }

    .mobile-sub-container-3 {
        width: 345px;
        height: 180px;
        justify-self: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 5px;
        grid-column-gap: 5px;
        margin-top: 40px;
    }

    .mobile-solutions-content {
        background-color: #ffffff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
        height: 85px;
        width: 170px;
        border-radius: 8px;
        justify-items: center;
        align-items: center;
    }

    .mobile-solutions-content img {
        width: 32px;
        height: 32px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 5px;
        margin-bottom: 0;
    }

    .mobile-solution-title {
        font-size: 8px;
        font-weight: bold;
        margin-top: 1.5px;
    }

    .mobile-solution-text {
        font-size: 7px;
        max-width: 140px;
        text-align: center;
    }
 
}