.sub-about-4 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-4-content {
    width: 1315px;
    height: 447px;
    background-color: var(--brand-secondary-color);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sub-about-4-content-box {
    width: 589px;
    height: 290px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.sub-about-4-content-box-icon {
    background-color: var(--brand-secondary-color);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-4-content-box-title {
    width: 500px;
}

.sub-about-4-content-box-title p {
    color: var(--brand-primary-dark);
    font-size: 30px;
    font-weight: bold;
}

.sub-about-4-content-box-text {
    max-width: 484px;
    height: 55px;
    margin-top: -20px;
}

.sub-about-4-content-box-text p {
    font-size: 16px;
    color: var(--brand-primary-dark);
}