.sub-about-3 {
    max-width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
}

.main-about-sub-wrapper-3 {
    min-width: 1336px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-3-content-1 {
    width: 668px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-about-3-content-1-title {
    width: 668px;
    height: 50px;
    display: flex;
    align-items: center;
}

.sub-about-3-content-1-title p {
    color: var(--brand-primary-dark);
    font-size: 36px;
    font-weight: 500;
}

.sub-about-3-content-1-title span {
    color: var(--brand-primary-color);
}

.sub-about-3-content-1-subtitle {
    width: 668px;
    height: 65px;
    display: flex;
    align-items: center;
}

.sub-about-3-content-1-subtitle p {
    color: var(--black-text-color);
    font-size: 18px;
}

.sub-about-3-content-1-text-1 {
    width: 668px;
    height: 45px;
    display: flex;
    align-items: center;
}

.sub-about-3-content-1-text-1 p {
    font-size: 18px;
    color: var(--black-text-color);
}

.sub-about-3-content-1-text-2 {
    width: 668px;
    height: 120px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-about-3-content-1-text-2-content {
    display: flex;
    height: 20px;
    width: 400px;
    align-items: center;
}

.sub-about-3-content-1-text-2-content img {
    margin-right: 15px;
}

.sub-about-3-content-1-text-2-content p {
    font-size: 18px;
    color: var(--black-text-color);
}

.sub-about-3-content-1-text-3 {
    max-width: 668px;
    height: 45px;
    display: flex;
    align-items: center;
}

.sub-about-3-content-1-text-3 p {
    font-size: 18px;
    color: var(--black-text-color);
}

.sub-about-3-content-2 {
    width: 668px;
    height: 420px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.blur-1 {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -20px;
    left: 15px;
    z-index: 600;
}

.blur-2 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -20px;
    right: -55px;
    z-index: 600;
}

.sub-about-3-content-2-box-container {
    min-width: 600px;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--brand-secondary-color);
    border-radius: 16px;
    position: absolute;
}

.sub-about-3-content-2-box-1 {
    width: 600px;
    height: 120px;
}

.sub-about-3-content-2-box-1 hr {
    width: 90%;
    height: 1px;
    background-color: #E0EBE4;
    border: none;
    margin-top: 20px;
}

.sub-about-3-content-2-box-1-container {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
}

.number-tag {
    background-color: var(--brand-primary-color);
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-right: 20px;
}

.number-tag p {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.text-tag {
    max-width: fit-content;
}

.text-tag-1 {
    margin-bottom: 0;
    font-size: 16px;
}

.text-tag-2 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
}

.sub-about-3-content-2-box-2 {
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
}

.percent-tag {
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.percent-tag-text-1 {
    margin-bottom: 4px;
    font-size: 25px;
    color: var(--brand-primary-color);
    font-weight: bold;
}

.percent-tag-text-2 {
    margin-top: 0;
    font-size: 16px;
    color: var(--brand-primary-color);
}

.sub-about-3-content-2-box-3 {
    width: 600px;
    height: 120px;
}

.sub-about-3-content-2-box-3 hr {
    width: 90%;
    height: 1px;
    background-color: #E0EBE4;
    border: none;
}

.empower-tag {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.empower-tag p {
    font-size: 16px;
    color: var(--brand-primary-color);
}


