.sub-about-4 {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-4-content {
    width: 1315px;
    height: 447px;
    background-color: var(--brand-secondary-color);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.sub-about-4-content-box {
    width: 589px;
    height: 290px;
    background-color: #ffffff;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.sub-about-4-content-box-icon {
    background-color: var(--brand-secondary-color);
    width: 56px;
    height: 56px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-4-content-box-title {
    width: 500px;
}

.sub-about-4-content-box-title p {
    color: var(--brand-primary-dark);
    font-size: 30px;
    font-weight: bold;
}

.sub-about-4-content-box-text {
    max-width: 484px;
    height: 55px;
    margin-top: -20px;
}

.sub-about-4-content-box-text p {
    font-size: 16px;
    color: var(--brand-primary-dark);
}




/* TABLET VIEW */
@media (max-width: 1040px) {
    .sub-about-4 {
        height: 900px;
        margin-bottom: 40px;
    }

    .sub-about-4-content {
        width: 100%;
        height: 750px;
        border-radius: 0;
        gap: 30px;
        flex-direction: column;
    }

    .sub-about-4-content-box {
        width: 470px;
        padding-bottom: 30px;
    }

    .sub-about-4-content-box-title {
        width: fit-content;
    }

    .sub-about-4-content-box-text {
        max-width: 404px;
    }

}





/* MOBILE VIEW */
@media (max-width: 720px) {
    .sub-about-4 {
        width: 100%;
        height: 600px;
        margin-bottom: 0;
    }
    
    .sub-about-4-content {
        width: 100%;
        height: 600px;
        background-color: #ffffff;
        border-radius: 0;
        flex-direction: column;
        gap: 40px;
    }

    .sub-about-4-content-box {
        width: 250px;
        height: 210px;
        background-color: #ffffff;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    }

    .sub-about-4-content-box-icon {
        background-color: var(--brand-secondary-color);
        width: 26px;
        height: 26px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .sub-about-4-content-box-title {
        width: max-content;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .sub-about-4-content-box-title p {
        color: var(--brand-primary-dark);
        font-size: 20px;
        font-weight: bold;
    }

    .sub-about-4-content-box-text {
        max-width: 200px;
        height: fit-content;
        margin-top: 0;
    }

    .sub-about-4-content-box-text p {
        font-size: 11px;
        text-align: center;
    }
}