.sub-about-5 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-5-wrapper {
    width: 1336px;
    height: 755px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sub-about-5-title-box {
    width: 820px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-about-5-title-box-text-1 {
    font-size: 49px;
    color: var(--brand-primary-dark);
    margin-bottom: 20px;
}

.sub-about-5-title-box-text-2 {
    color: var(--black-text-color);
    font-size: 17px;
    margin-top: 0;
    text-align: center;
}

.sub-about-5-text-1 {
    background-color: var(--brand-secondary-color);
    width: 1336px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}

.sub-about-5-text-1 p {
    font-size: 17px;
    color: var(--black-text-color);
    text-align: center;
    max-width: 1180px;
}

.sub-about-5-text-1 p span {
    color: var(--brand-primary-color);
}

.sub-about-5-text-2 {
    width: 1336px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-5-text-2 p {
    font-size: 15.5px;
    color: var(--black-text-color);
}

.sub-about-5-text-3-box {
    width: 1336px;
    height: 240px;
    display: flex;
    justify-content: space-between;
}

.sub-about-5-text-3-box-content {
    background-color: #F6FAF8;
    width: 316px;
    height: 240px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    border: .2px solid #00000008;
}

.sub-about-5-text-3-box-content-icon {
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: var(--brand-secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-5-text-3-box-content-icon img {
    width: 24px;
    height: 24px;
}

.sub-about-5-text-3-box-content-text-1 p {
    color: var(--brand-primary-dark);
    font-weight: bold;
}

.sub-about-5-text-3-box-content-text-2 p {
    color: var(--brand-primary-dark);
}

.sub-about-5-text-4 {
    width: 1336px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-5-text-4 p {
    font-size: 16px;
    font-weight: bold;
}

.sub-about-5-text-4 p span {
    color: var(--brand-primary-color);
}