.sub-about-6 {
    max-width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-about-6-wrapper {
    width: 1336px;
    height: 394px;
    background-color: var(--brand-primary-color);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-about-6-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sub-about-6-title-box-text-1 {
    font-size: 49px;
    color: var(--white-text-color);
    margin-bottom: 0;
    margin-top: -40px;
}

.sub-about-6-title-box-text-2 {
    font-size: 20px;
    color: var(--white-text-color);
    margin-top: -40px;
}

.sub-about-text-6 {
    max-width: 640px;
    text-align: center;
}

.sub-about-text-6 p {
    color: var(--white-text-color);
}

.sub-about-text-6 p span {
    font-weight: bold;
}

.sub-about-6-wrapper button {
    background-color: #FF8C00;
    width: 208px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    transition: transform 0.3s ease;
}

.sub-about-6-wrapper button:hover {
    transform: scale(1.1);
}

.sub-about-6-wrapper button p {
    color: var(--white-text-color);
    margin-right: 20px;
}