.reviews-intro {
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.mobile-review-section {
    display: none;
}

.reviews-intro-title {
    font-size: 48px;
    letter-spacing: 1.96px;
    line-height: 56px;
    color: var(--brand-primary-dark);
    margin-bottom: 20px;
}

.reviews-intro-title span {
    color: var(--brand-primary-color);
}

.reviews-intro-subtitle {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    color: var(--black-text-color);
    margin-top: 0;
}

.reviews-content {
    max-width: 1200px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 25px;
}

.review-box-container {
    width: 960px;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    gap: 15px;
}

::-webkit-scrollbar {
    display: none;
}

.client-review-box {
    min-width: 960px;
    height: 260px;
    background-color: var(--brand-secondary-color);
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
    border-radius: 16px;
    scroll-snap-align: start;
}

.client-avatar img {
    height: 114px;
    width: 114px;
}

.client-review {
    max-width: 500px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 55px;
}

.client-review-text {
    font-size: 16px;
    line-height: 25px;
    color: var(--brand-primary-dark);
    font-weight: 400;
}

.client-name {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--brand-primary-dark);
}

.client-status {
    font-size: 12px;
    letter-spacing: 0px;
    color: var(--brand-primary-dark);
}

.left-arrow {
    margin-right: 20px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-arrow:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
    cursor: pointer;
}

.left-arrow img {
    width: 40px;
    height: 40px;
}

.right-arrow {
    margin-left: 20px;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.right-arrow:hover {
    transform: scale(1.2);
    transition: 0.1s ease;
    cursor: pointer;
}

.right-arrow img {
    width: 40px;
    height: 40px;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
.reviews-section {
    max-width: 100%;
    }
.reviews-intro {
        width: max-content;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
    }

    .mobile-review-section {
        display: none;
    }

    .reviews-intro-title {
        font-size: 27px;
        letter-spacing: 0.96px;
        line-height: 27px;
        color: var(--brand-primary-dark);
        margin-bottom: 10px;
    }

    .reviews-intro-title span {
        color: var(--brand-primary-color);
    }

    .reviews-intro-subtitle {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 24px;
        color: var(--black-text-color);
        margin-top: 0;
    }

    .reviews-content {
        max-width: 900px;
        height: 350px;
        display: flex;
        align-items: center;
        justify-self: center;
        margin-top: 15px;
    }

    .review-box-container {
        width: 800px;
        display: flex;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        gap: 15px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .client-review-box {
        min-width: 800px;
        height: 220px;
        background-color: var(--brand-secondary-color);
        display: flex;
        padding-top: 15px;
        padding-left: 60px;
        border-radius: 16px;
        scroll-snap-align: start;
    }

    .client-avatar img {
        height: 64px;
        width: 64px;
        margin-top: 25px;
    }

    .client-review {
        max-width: 500px;
        height: 208px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 55px;
        margin-top: 0;
    }

    .client-review-text {
        font-size: 16px;
        line-height: 25px;
        color: var(--brand-primary-dark);
        font-weight: 400;
        margin-bottom: 20px;
    }

    .client-name {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0px;
        color: var(--brand-primary-dark);
        margin-top: 20px;
    }

    .client-status {
        font-size: 12px;
        letter-spacing: 0px;
        color: var(--brand-primary-dark);
    }

    .left-arrow {
        margin-right: 20px;
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .left-arrow:hover {
        transform: scale(1.2);
        transition: 0.1s ease;
        cursor: pointer;
    }

    .left-arrow img {
        width: 40px;
        height: 40px;
    }

    .right-arrow {
        margin-left: 20px;
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .right-arrow:hover {
        transform: scale(1.2);
        transition: 0.1s ease;
        cursor: pointer;
    }

    .right-arrow img {
        width: 40px;
        height: 40px;
    }
}


/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {

    .reviews-section {
        display: none;
    }

    .mobile-review-section {
        display: block;
        background-color: #F8FBF9;
        max-width: 100%;
        height: 315px;
        padding-top: 15px;
        margin-top: 10px;
    }
    
    .mobile-review-intros {
        max-width: 100%;
        text-align: center;
    }

    .mobile-review-intro-1 {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 6px;
    }

    .mobile-review-intro-2 {
        font-size: 9px;
        letter-spacing: 0.5px;
        color: #000000;
        margin-top: 0;
    }

    .mobile-wrapper-5 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }

    .mobile-review-content {
        width: 345px;
        height: 170px;
        padding-left: 10px;
        align-content: center;
        border-radius: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.08);
    }

    .mobile-review-slider {
        display: flex;
        width: 320px;
        overflow: hidden;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    .mobile-review-sub-content {
        min-width: 320px;
        height: 110px;
        padding-top: 8px;
    }

    .mobile-review {
        margin-bottom: 10px;
    }

    .mobile-review p{
        font-size: 8px;
        letter-spacing: 0.3px;
        line-height: 12px;
    }

    .mobile-review-ratings {
        max-width: 55px;
        display: flex;
        justify-content: space-between;
    }

    .mobile-review-ratings img {
        width: 9px;
        height: 9px;
    }

    .mobile-review-profile {
        display: flex;
        max-width:200px ;
        margin-top: 10px;
        align-items: center;
    }

    .mobile-review-profile img {
        width: 32px;
        height: 32px;
    }

    .mobile-review-names {
        margin-left: 10px;
    }

    .mobile-review-name-1 {
        font-size: 9px;
        font-weight: bold;
        margin-bottom: 0;
    }

    .mobile-review-name-2 {
        font-size: 7px;
        margin-top: 0;
    }

    .mobile-review-slide-icons {
        display: flex;
        justify-content: space-between;
        max-width: 55px;
        margin-top: 6px;
    }

    .mobile-review-icon {
        background-color: #F3F7F4;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-review-icon img {
        width: 12px;
        height: 12px;
    }
}



