.reviews-intro {
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
}

.reviews-intro-title {
    font-size: 48px;
    letter-spacing: 1.96px;
    line-height: 56px;
    color: var(--brand-primary-dark);
    margin-bottom: 20px;
}

.reviews-intro-title span {
    color: var(--brand-primary-color);
}

.reviews-intro-subtitle {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    color: var(--black-text-color);
    margin-top: 0;
}

.reviews-content {
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-top: 25px;
}

.client-review-box {
    width: 960px;
    height: 260px;
    background-color: var(--brand-secondary-color);
    display: flex;
    padding-top: 30px;
    padding-left: 60px;
    border-radius: 16px;
}

.client-avatar img {
    height: 114px;
    width: 114px;
}

.client-review {
    max-width: 500px;
    height: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 55px;
}

.client-review-text {
    font-size: 16px;
    line-height: 25px;
    color: var(--brand-primary-dark);
    font-weight: 400;
}

.client-name {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0px;
    color: var(--brand-primary-dark);
}

.client-status {
    font-size: 12px;
    letter-spacing: 0px;
    color: var(--brand-primary-dark);
}

.left-arrow {
    margin-right: 20px;
}

.left-arrow img {
    width: 40px;
    height: 40px;
}

.right-arrow {
    margin-left: 20px;
} 

.right-arrow img {
    width: 40px;
    height: 40px;
}


/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
        
        .reviews-intro-title {
            font-size: 18.8px;
            line-height: 16px;
            margin-bottom: 10px;
        }
    
        .reviews-intro-subtitle {
            font-size: 10px;
            line-height: 14px;
            max-width: 300px;
            text-align: center;
        }
    
        .reviews-content {
            width: 400px;
            height: 250px;
            margin-top: -70px;
        }
    
        .client-review-box {
            width: 260px;
            height: 120px;
            padding-left: 20px;
            border-radius: 10px;
        }
    
        .client-avatar img {
            height: 40px;
            width: 40px;
            margin-top: 10px;
            margin-right: 20px;
        }
    
        .client-review {
            max-width: 170px;
            height: 90px;
            margin-top: -25px;
            margin-left: 0px;
        }
    
        .client-review-text {
            font-size: 8.5px;
            line-height: 12px;
        }
    
        .client-name {
            font-size: 10px;
        }

        .client-status {
            font-size: 9px;
            margin-top: -10px;
        }
    
        .left-arrow {
            margin-right: 10px;
        }
    
        .left-arrow img {
            width: 18px;
            height: 18px;
        }
    
        .right-arrow {
            margin-left: 10px;
        }
    
        .right-arrow img {
            width: 18px;
            height: 18px;
        }
}



