.sub-team-2 {
    max-width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-team-2-content-wrapper-text {
    width: 1336px;
    height: 302px;
    display: flex;
    justify-content: space-between;
}

.sub-team-2-contents {
    width: 380px;
    height: 302px;
    background-color: var(--brand-secondary-color);
    border-radius: 12px;
    border: 1px solid #00000007;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.sub-team-2-contents-icon{
    width: 56px;
    height: 56px;
    background-color: #16a24919;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.sub-team-2-contents-title p {
    font-style: 18px;
    font-weight: bold;
    color: var(--brand-primary-dark);
}

.sub-team-2-contents-text p {
    color: var(--brand-primary-dark);
}