.sub-team-3 {
    max-width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-team-3-content-wrapper {
    width: 1336px;
    height: 385px;
    background-color: var(--brand-secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub-team-3-content-1 {
    width: 550px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-team-3-content-1-intro {
    max-width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
}

.sub-team-3-content-1-intro p {
    font-size: 49px;
    line-height: 52px;
}

.sub-team-3-content-1-intro p span{
    color: var(--brand-primary-color);
}

.sub-team-3-content-1-text p {
    font-size: 16px;
    color: #5C7066;
}

.sub-team-3-content-2 {
    width: 550px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub-team-3-content-2-intro {
    display: flex;
    align-items: center;
    height: 40px;
}

.sub-team-3-content-2-intro p {
    font-size: 24px;
    color: var(--brand-primary-dark);
    font-weight: bold;
}

.sub-team-3-content-2-text-box {
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sub-team-3-content-2-text {
    display: flex;
    align-items: center;
    height: 30px;
}

.sub-team-3-content-2-text img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.sub-team-3-content-2-text p {
    color: #222A26;
}





/* TABLET VIEW */
@media (max-width: 1040px) {
    
        .sub-team-3-content-wrapper {
            width: 100%;
            height: 385px;
            justify-content: center;
            gap: 20px;
            padding: 0 20px;
        }
    
        .sub-team-3-content-1 {
            align-items: center;
        }
    
        .sub-team-3-content-1-intro p {
            font-size: 42px;
            text-align: center;
        }
    
        .sub-team-3-content-1-text p {
            text-align: center;
        }
    
        .sub-team-3-content-2 {
            align-items: center;
        }

}





/* MOBILE VIEW */

@media (max-width: 720px) {
    .sub-team-3 {
        max-width: 100%;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .sub-team-3-content-wrapper {
        width: 100%;
        height: fit-content;
        background-color: var(--brand-secondary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 30px;
    }

    .sub-team-3-content-1 {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .sub-team-3-content-1-intro {
        max-width: 300px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sub-team-3-content-1-intro p {
        font-size: 30px;
        line-height: normal;
        text-align: center;
    }

    .sub-team-3-content-1-text p {
        font-size: 14px;
        text-align: center;
    }

    .sub-team-3-content-2 {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 2px;
        padding-left: 15px;
        margin-bottom: 20px;
    }

    .sub-team-3-content-2-intro {
        display: flex;
        align-items: center;
        height: 40px;
    }

    .sub-team-3-content-2-intro p {
        font-size: 20px;
    }

    .sub-team-3-content-2-text-box {
        height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3px;
    }

    .sub-team-3-content-2-text {
        display: flex;
        align-items: center;
        height: 30px;
    }

    .sub-team-3-content-2-text img {
        width: 14px;
        height: 14px;
        margin-right: 10px;
    }

    .sub-team-3-content-2-text p {
        font-size: 14px;
    }
}