.sub-team-4 {
    height: 556px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sub-team-4-intro {
    width: 1352px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.sub-team-4-intro-title {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-team-4-intro-title p {
    font-size: 36px;
    color: var(--brand-primary-dark);
}

.sub-team-4-intro-text p {
    color: #5C7066;
}

.sub-team-4-content-box {
    width: 1352px;
    height: 236px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sub-team-4-contents {
    width: 320px;
    height: 214px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 1px solid #E0EBE4;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-team-4-contents-icon {
    width: 48px;
    height: 48px;
    background-color: var(--brand-secondary-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-team-4-contents-icon img {
    width: 24px;
    height: 24px;
}

.sub-team-4-contents-title p {
    font-weight: bold;
    color: #1D1F14;
}

.sub-team-4-contents-text {
    max-width: 264px;
    height: 90px;
    margin-top: -15px;
}

.sub-team-4-contents-text p {
    font-size: 14px;
    color: #1D1F14;
}