header {
    /* min-height: 100vh; */
    background: url("../../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 0;
    min-width: 100%;
    height: 850px;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--brand-secondary-color);
    z-index: -1;
}

header .wrapper {
    position: relative;
    padding-top: 40px;
}

header .cta {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    max-width: 1309px;
}

header .sub-wrapper {
    width: 650px;
    height: 270px;
    margin-right: 61px;
}

header .intro-text {
    color: var(--black-text-color);
    letter-spacing: -1px;
    font-size: 59.7px;
    line-height: 70px;
    line-break: none;
}

header .intro-text p {
    display: inline;
}

header .intro-text p span {
    color: var(--brand-primary-color);
}

header .brand-image-1 {
    height: 591px;
    width: 591px;
    z-index: 300;
}

header .sub-intro-text {
    font-size: 18px;
    color: var(--black-text-color);
    line-height: 24px;
    width: 529px;
    height: 96px;
}

header .app-buttons {
    display: flex;
    margin-top: 60px;
    max-width: 375px;
    justify-content: space-between;
}

header .app-buttons .google-play-button {
    height: 48px;
    width: 182px;
    display: flex;
    background-color: #000000;
    color: var(--white-text-color);
    border: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

header .app-buttons .google-play-button:hover {
    transform: scale(1.1);
}

header .app-buttons .google-play-button img {
    height: 19px;
    width: 19px;
    margin-left: 5px;
    margin-right: 10px;
}

header .app-buttons .google-play-button .button-text {
    justify-items: start;
    margin-top: 4px;
}

header .app-buttons .google-play-button .button-text .first-text {
    font-size: 8px;
    margin-bottom: 0px;
}

header .app-buttons .google-play-button .button-text .second-text{
    font-size: 14px;
    margin-top: 0px;
}

header .app-buttons .whatsapp-button {
    height: 48px;
    width: 182px;
    background-color: var(--brand-primary-color);
    color: var(--white-text-color);
    border: none;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

header .app-buttons .whatsapp-button:hover {
    transform: scale(1.1);
}



/* TABLET VERSION */
@media (max-width: 1040px) {
    header {
        width: 100%;
        height: 600px;
    }

    header .intro-text {
        font-size: 30px;
        line-height: 30px;
        max-width: 430px;
    }

    header .brand-image-1 {
        height: 280px;
        width: 280px;
        margin-right: 0;
    }

    header .sub-wrapper {
        max-width: 600px;
        height: 270px;
    }

    header .sub-intro-text {
        font-size: 17px;
        width: 450px;
        height: 96px;
    }

    header .cta {
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        max-width: 800px;
    }

    header .app-buttons {
        max-width: 220px;
    }

    header .app-buttons .google-play-button {
        height: 28px;
        width: 102px;
        border-radius: 15px;
    }

    header .app-buttons .google-play-button img {
        height: 13px;
        width: 13px;
        margin-left: 3px;
        margin-right: 5px;
    }

    header .app-buttons .google-play-button .button-text .first-text {
        font-size: 9px;
    }

    header .app-buttons .google-play-button .button-text .second-text {
        font-size: 8px;
        margin-bottom: 13px;
    }

    header .app-buttons .whatsapp-button {
        height: 28px;
        width: 102px;
        border-radius: 15px;
    }

    header .app-buttons .whatsapp-button p{
        font-size: 9px;
    }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    header {
        height: 450px;
        max-width: 100vw;
    }

    header .intro-text {
        font-size: 25px;
        max-width: 350px;
    }

    header .brand-image-1 {
        display: none;
    }

    header .sub-wrapper {
        max-width: 400px;
        height: 270px;
    }

    header .sub-intro-text {
        font-size: 13px;
        width: 300px;
        height: 96px;
        line-height: 20px;
    }

    header .cta {
        flex-direction: column;
        margin-top: 40px;
        max-width: 400px;
        padding-left: 30px;
    }

    header .app-buttons {
        max-width: 200px;
    }

    header .app-buttons .google-play-button {
        width: 95px;
    }

    header .app-buttons .google-play-button .button-text .first-text {
        font-size: 8px;
    }

    header .app-buttons .google-play-button .button-text .second-text {
        font-size: 8px;
    }

    header .app-buttons .whatsapp-button {
        width: 95px;
    }

    header .app-buttons .whatsapp-button p {
        font-size: 8px;
    }
}