header {
    background: url("../../assets/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    margin-top: 0;
    min-width: 100%;
    height: 850px;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--brand-secondary-color);
    z-index: -1;
}

header .wrapper {
    position: relative;
    padding-top: 40px;
}

header .cta {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    max-width: 1309px;
}

header .sub-wrapper {
    width: 650px;
    height: 270px;
    margin-right: 61px;
}

header .intro-text {
    color: var(--black-text-color);
    letter-spacing: -1px;
    font-size: 59.7px;
    line-height: 70px;
    line-break: none;
}

header .intro-text p {
    display: inline;
}

header .intro-text p span {
    color: var(--brand-primary-color);
}

header .brand-image-1 {
    height: 591px;
    width: 591px;
    z-index: 300;
}

header .brand-image-1-2 {
    display: none;
}

header .sub-intro-text {
    font-size: 18px;
    color: var(--black-text-color);
    line-height: 24px;
    width: 529px;
    height: 96px;
}

header .app-buttons {
    display: flex;
    margin-top: 60px;
    max-width: 375px;
    justify-content: space-between;
}

header .app-buttons .google-play-button {
    height: 48px;
    width: 182px;
    display: flex;
    background-color: #000000;
    color: var(--white-text-color);
    border: none;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

header .app-buttons .google-play-button:hover {
    transform: scale(1.1);
}

header .app-buttons .google-play-button img {
    height: 19px;
    width: 19px;
    margin-left: 5px;
    margin-right: 10px;
}

header .app-buttons .google-play-button .button-text {
    justify-items: start;
    margin-top: 4px;
}

header .app-buttons .google-play-button .button-text .first-text {
    font-size: 8px;
    margin-bottom: 0px;
}

header .app-buttons .google-play-button .button-text .second-text{
    font-size: 14px;
    margin-top: 0px;
}

header .app-buttons .whatsapp-button {
    height: 48px;
    width: 182px;
    background-color: var(--brand-primary-color);
    color: var(--white-text-color);
    border: none;
    border-radius: 30px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

header .app-buttons .whatsapp-button:hover {
    transform: scale(1.1);
}



/* TABLET VERSION */
@media (max-width: 1040px) {
header {
        margin-top: 0;
        max-width: 100%;
        height: 700px;
    }

    header .wrapper {
        position: relative;
        padding-top: 40px;
    }

    header .cta {
        position: absolute;
        display: flex;
        justify-content: space-between;
        margin-top: 75px;
        max-width: 800px;
    }

    header .sub-wrapper {
        width: max-content;
        height: 270px;
        margin-right: 0;
        margin-right: 15px;
    }

    header .intro-text {
        color: var(--black-text-color);
        letter-spacing: -1px;
        font-size: 35.7px;
        line-height: 45px;
        line-break: none;
    }

    header .intro-text p {
        display: inline;
    }

    header .brand-image-1 {
        height: 380px;
        width: 350px;
        z-index: 300;
    }

    header .brand-image-1-2 {
        display: none;
    }

    header .sub-intro-text {
        font-size: 18px;
        color: var(--black-text-color);
        line-height: 24px;
        width: 529px;
        height: 96px;
    }

    header .app-buttons {
        display: flex;
        margin-top: 60px;
        max-width: 305px;
        justify-content: space-between;
    }

    header .app-buttons .google-play-button {
        height: 38px;
        width: 140px;
    }

    header .app-buttons .google-play-button:hover {
        transform: scale(1.1);
    }

    header .app-buttons .google-play-button img {
        height: 19px;
        width: 19px;
        margin-left: 5px;
        margin-right: 10px;
    }

    header .app-buttons .google-play-button .button-text {
        justify-items: start;
        margin-top: 4px;
    }

    header .app-buttons .google-play-button .button-text .first-text {
        font-size: 8px;
        margin-bottom: 0px;
    }

    header .app-buttons .google-play-button .button-text .second-text {
        font-size: 14px;
        margin-top: 0px;
    }

    header .app-buttons .whatsapp-button {
        height: 38px;
        width: 140px;
    }

    header .app-buttons .whatsapp-button p {
        font-size: 10px;
    }

    header .app-buttons .whatsapp-button:hover {
        transform: scale(1.1);
    }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    header {
        height: 660px;
        max-width: 100%;
    }

    #header-align {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .wrapper {
        padding-top: 0;
        max-width: 100%;
    }

    header .brand-image-1 {
        width: 345px;
        height: 265px;
        align-self: center;
        margin-bottom: 7px;
    }

    header .brand-image-1-2 {
        width: 345px;
        height: 100px;
        display: flex;
        margin-top: 500px;
        border-radius: 14px;
    }

    header .intro-text {
        font-size: 17px;
        max-width: 290px;
        font-weight: 600;
        text-align: center;
        line-height: 25px;
        letter-spacing: 0.1px;
        margin-bottom: 0;
    }

    header .sub-wrapper {
        width: 100%;
        height: 200px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: space-between;
        align-items: center;
    }

    header .sub-intro-text {
        font-size: 9px;
        height: 46px;
        max-width: 345px;
        line-height: 12px;
        text-align: center;
        margin-top: 0;
    }

    header .cta {
        flex-direction: column-reverse;
        max-width: 100%;
        /* align-items: center; */
        margin-bottom: 0;
        margin-top: 25%;
    }

    header .app-buttons {
        width: 180px;
        margin-top: 15px;
        justify-content: space-around;
    }

    header .app-buttons .google-play-button {
        width: 85px;
        height: 25px;
    }

    header .app-buttons .google-play-button img {
        height: 14px;
        width: 14px;
        margin-left: 2px;
        margin-right: 5px;
    }

    header .app-buttons .google-play-button .button-text .first-text {
        font-size: 7px;
    }

    header .app-buttons .google-play-button .button-text .second-text {
        font-size: 7px;
    }

    header .app-buttons .whatsapp-button {
        width: 85px;
        height: 25px;
    }

    header .app-buttons .whatsapp-button p {
        font-size: 7px;
        max-width: 100%;
    }
}