#Faq-section {
    width: 1256px;
    height: 517px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.mobile-faq-section {
    display: none;
}

.question-title {
    width: 430px;
    margin-top: 0;
}

.questions-box {
    width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#first-title {
    font-size: 45px;
    letter-spacing: 1.96px;
    font-weight: 500;
    color: var(--brand-primary-dark);
    margin-bottom: 0;
    margin-top: 0;
}

#second-title {
    font-size: 45px;
    letter-spacing: 1.96px;
    font-weight: 500;
    color: var(--brand-primary-color);
    margin-top: 0;
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    display: none;
    overflow: hidden;
    opacity: 0;
}

.display {
    display: flex;
    opacity: 1;
}

.questions p {
    font-size: 18px;
    color: var(--black-text-color);
    width: 500px;
}

.answers p {
    font-size: 18px;
    color: var(--brand-primary-color);
    width: 500px;
}

.questions img {
    margin-right: 20px;
    width: 18px;
    height: 19px;
    cursor: pointer;
}

/* TABLET VIEW */
@media (max-width: 1040px) {
        #Faq-section {
            height: 417px;
            max-width: 100%;
            margin-top: 70px;
        }
    
        .question-title {
            width: 330px;
        }
    
        .questions-box {
            width: 670px;
        }
    
        #first-title {
            font-size: 23px;
        }
    
        #second-title {
            font-size: 23px;
        }
    
        .questions p {
            font-size: 16px;
            width: 400px;
        }
    
        .questions img {
            margin-right: 15px;
            width: 15px;
            height: 16px;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #Faq-section {
        display: none;
    }

    .mobile-faq-section {
        display: block;
        max-width: 100%;
        height: 380px;
        padding-top: 15px;
    }

    .mobile-faq-intro {
        max-width: 100%;
        margin-left: 15px;
    }

    .mobile-faq-intro-1 {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        margin-bottom: 6px;

    }

    .mobile-faq-intro-2 {
        font-size: 9px;
        letter-spacing: 0.5px;
        color: var(--brand-primary-color);
        margin-top: 0;
    }

    .mobile-wrapper-6 {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .mobile-faq-questions-box {
        max-width: 345px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content:space-between ;
    }

    .mobile-faq-questions {
        display: flex;
        width: 345px;
        height: 50px;
        background-color: #F5F9F7;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 7px;
    }

    .mobile-faq-answers {
        display: flex;
        width: 345px;
        height: 50px;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
        padding-left: 10px;
        animation: fadeDown 0.3s ease;
    }

    @keyframes fadeDown {
        from {
            opacity: 0;
            transform: translateY(-5px);
        }

        to { 
            opacity: 1;
            transform: translateY(0);
        }
    }

    .mobile-faq-questions p {
        font-size: 10px;
    }

    .mobile-faq-answers p {
        font-size: 9px;
        max-width: 300px;
        color: var(--brand-primary-dark);
    }

    .mobile-faq-questions img {
        width: 14px;
        height: 14px;
    }

    .mobile-faq-answers img {
        width: 14px;
        height: 14px;
    }

}