#Faq-section {
    width: 1256px;
    height: 517px;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.question-title {
    width: 430px;
    margin-top: 0;
}

.questions-box {
    width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#first-title {
    font-size: 45px;
    letter-spacing: 1.96px;
    font-weight: 500;
    color: var(--brand-primary-dark);
    margin-bottom: 0;
    margin-top: 0;
}

#second-title {
    font-size: 45px;
    letter-spacing: 1.96px;
    font-weight: 500;
    color: var(--brand-primary-color);
    margin-top: 0;
}

.questions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.answers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    display: none;
    overflow: hidden;
    opacity: 0;
}

.display {
    display: flex;
    opacity: 1;
}

.questions p {
    font-size: 18px;
    color: var(--black-text-color);
    width: 500px;
}

.answers p {
    font-size: 18px;
    color: var(--brand-primary-color);
    width: 500px;
}

.questions img {
    margin-right: 20px;
    width: 18px;
    height: 19px;
}

/* TABLET VIEW */
@media (max-width: 1040px) {
        #Faq-section {
            height: 417px;
            margin-top: 70px;
        }
    
        .question-title {
            width: 330px;
        }
    
        .questions-box {
            width: 670px;
        }
    
        #first-title {
            font-size: 23px;
        }
    
        #second-title {
            font-size: 23px;
        }
    
        .questions p {
            font-size: 16px;
            width: 400px;
        }
    
        .questions img {
            margin-right: 15px;
            width: 15px;
            height: 16px;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    #Faq-section {
        width: 400px;
        height: 317px;
        margin-top: 70px;
        flex-direction: column;
        justify-content: flex-start;
    }

    .question-title {
        width: 300px;
        display: flex;
        align-self: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .questions-box {
        width: 400px;
    }

    #first-title {
        font-size: 18px;
    }

    #second-title {
        font-size: 18px;
    }

    .questions p {
        font-size: 11px;
        width: 400px;
    }

    .questions img {
        margin-right: 12px;
        width: 11px;
        height: 11px;
    }
}