footer {
    width: 100%;
    height: 480px;
    margin-top: 150px;
    align-content: center;
    background: url("../../assets/footerbackground.png");
    background-color: var(--brand-secondary-color);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mobile-footer-container {
    display: none;
}

#footer-container {
    width: 1328px;
    height: 220px;
    background-color: var(--brand-primary-color);
    border-radius: 16px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    position: absolute;
}

.footer-logo {
    display: flex;
    align-self: center;
    margin-left: 50px
}

.footer-logo img {
    width: 252px;
    height: 102px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-right: 50px;
}

.footer-text ul li {
    list-style: none;
}

.footer-text ul li p {
    color: var(--white-text-color);
    font-size: 17.5px;
    font-weight: 500;
}

.footer-text ul li a {
    color: var(--white-text-color);
    margin-top: 5px;
    font-size: 14px;
}

.footer-text ul li a:hover {
    color: #ffffff90;
}

.copyright {
    position: absolute;
    display: flex;
    justify-self: flex-end;
    margin-top: 400px;
}

.copyright p {
    font-size: 14px;
    color: #00000075;
    font-style: italic;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
        footer {
            max-width: 100%;
            height: 400px;
            margin-top: 100px;
            margin-bottom: 0;
        }
    
        #footer-container {
            height: 160px;
            border-radius: 10px;
        }
    
        .footer-logo {
            margin-left: 25px
        }
    
        .footer-logo img {
            width: 160px;
            height: 80px;
        }
    
        .footer-text {
            display: flex;
            justify-content: space-between;
            width: 400px;
            margin-right: 50px;
        }
    
        .footer-text ul li p {
            font-size: 16.5px;
        }
    
        .footer-text ul li a {
            font-size: 12px;
        }
    
        .copyright p {
            font-size: 13px;
            margin-bottom: 0;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    footer {
        display: none;
    }
    .mobile-footer-container {
       display: block;
       max-width: 100%;
       height: 170px;
       background-color: #1A231F;
       margin-top: 40px;
    }

    .mobile-footer-list-content {
        display: flex;
        justify-content: space-around;
        max-width: 310px;
    }

    .mobile-footer-list-content ul {
        list-style: none;
    }

    .mobile-footer-list-content ul li {
        margin-top: -2px;
        margin-left: -30px;
    }

    .mobile-footer-list-content ul li p {
        font-size: 7px;
        color: #ffffff;
        font-weight: bold;
    }

    .mobile-footer-list-content ul li a {
        font-size: 7px;
        color: #ffffffa2;
    }

    hr {
        width: 95%;
        margin-top: 5px;
        border: none;
        height: 1px;
        background-color: #ffffff1d;
    }

    .copyright-box {
        max-width: 100%;
        text-align: center;
    }

    .copyright-box p {
        font-size: 7px;
        color: #ffffff84;
        margin-top: 15px;
    }

}