footer {
    width: 100%;
    height: 480px;
    margin-top: 150px;
    align-content: center;
    background: url("../../assets/footerbackground.png");
    background-color: var(--brand-secondary-color);
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-container {
    width: 1328px;
    height: 220px;
    background-color: var(--brand-primary-color);
    border-radius: 16px;
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: space-between;
    position: absolute;
}

.footer-logo {
    display: flex;
    align-self: center;
    margin-left: 50px
}

.footer-logo img {
    width: 252px;
    height: 102px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
    width: 530px;
    margin-right: 50px;
}

.footer-text ul li {
    list-style: none;
}

.footer-text ul li p {
    color: var(--white-text-color);
    font-size: 17.5px;
    font-weight: 500;
}

.footer-text ul li a {
    color: var(--white-text-color);
    margin-top: 5px;
    font-size: 14px;
}

.footer-text ul li a:hover {
    color: #ffffff90;
}

.copyright {
    position: absolute;
    display: flex;
    justify-self: flex-end;
    margin-top: 400px;
}

.copyright p {
    font-size: 14px;
    color: #00000075;
    font-style: italic;
}


/* TABLET VIEW */
@media (max-width: 1040px) {
        footer {
            max-width: 100%;
            height: 380px;
            margin-top: 100px;
        }
    
        #footer-container {
            height: 160px;
            border-radius: 10px;
        }
    
        .footer-logo {
            margin-left: 25px
        }
    
        .footer-logo img {
            width: 160px;
            height: 80px;
        }
    
        .footer-text {
            display: flex;
            justify-content: space-between;
            width: 400px;
            margin-right: 50px;
        }
    
        .footer-text ul li p {
            font-size: 16.5px;
        }
    
        .footer-text ul li a {
            font-size: 12px;
        }
    
        .copyright p {
            font-size: 13px;
        }
}



/* MOBILE-PHONE VIEW */
@media (max-width: 720px) {
    footer {
        max-width: 100%;
        height: 380px;
        margin-top: 100px;
    }

    #footer-container {
        height: 160px;
        border-radius: 0;
        max-width: 100%;
        justify-content: flex-start;
    }

    .footer-logo {
        margin-left: 15px
    }

    .footer-logo img {
        width: 90px;
        height: 50px;
    }

    .footer-text {
        width: 200px;
        margin-right: 0;
        margin-left: 40px;
        margin-top: 20px;
    }

    .footer-text ul li p {
        font-size: 10.5px;
    }

    .footer-text ul li a {
        font-size: 8px;
    }

    .copyright p {
        font-size: 8px;
    }
}